  <body>
    <div class="container-fluid">
      <div style="background-image:image-url(bg-image_top.jpg);">
        <h1>STUDY ASSIST</h1>
        <h3>~勉強を頑張りたいすべての人へ~</h3>
      </div>
    </div>
  </body>