@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');

.footer-style{
  height: 120px;
  background-color: #848282;
  text-align: center;
  display: flex;
	align-items: center;
	justify-content: center;
}

.caption-top{
  caption-side: top;
}

.sideber{
  margin: 0 auto;
  text-align: center;
}

.sideber-frame{
  width: 100%;
  margin: 10px auto;
}

.over{
  overflow-wrap : break-word;
}

.table-row{
  height: 30px;

}

.ranking{
  height: 30px;
}

.comment-form{
  text-align: left;
}

.vertical {
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	margin: 0 auto;
	font-family: 'Yuji Syuku', serif;
}

