.top-visual{
    background-image: url("../images/bg-image_top.jpg");
    background-size: cover;
    width: 100%;
    height: 300px;
    display: flex;
	align-items: center;
}
.top-title{
    margin: 0 auto;
}