// Place all the styles related to the SaveDatas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.new_table {
  margin: 0 auto;
  text-align: left;
}

.new_table_row {
  height: 50px;
}

.index_table {
  width: 100%;
}